
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home</title>
</head>
<body>
    <h2>
        <div>Name: @ViewBag.name</div> 
        <div>Age: @ViewBag.age</div>
        <div>BirthDay: @ViewBag.birthday</div>
    </h2>
</body>
</html>
