
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <ol>
        <li><a href="~/Home">Exc1</a></li>
        <li><a href="~/RockBands">Exc2</a></li>
        <li><a href="~/Calculator">Exc3</a></li>
    </ol>
</body>
</html>
