
@{
    Layout = null;
    
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <button name="roll"></button>
    <div>1-6 roll: @ViewBag.i  </div>
</body>
</html>
